<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

      <title>Login</title>
   </head>

   <body>
      <h2>Login</h2>

      <form method="post" action="{% url 'recipes:user_login' %}">
         {% csrf_token %}
         <label for="username">Username:</label>
         <input type="text" name="username" required>
         <br>
         <label for="password">Password:</label>
         <input type="password" name="password" required>
         <br>
         <button class="login-button" type="submit">Log In</button>
      </form>

   </body>

</html>
